.App {
  display: grid;
  background-color: aquamarine;
  place-items: center;
  height: 100vh;
}

.main_box {
  display: flex;
  background-color: antiquewhite;
  margin-top: -20px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
}
