.App {
  display: grid;
  background-color: #696969;
  place-items: center;
  height: 100vh;
}

.main_box {
  display: flex;
  /* background-image: linear-gradient(to right, #ffd89b );☻ */
  background-color: #111B21;
  margin-top: -15px;
  height: 95vh;
  width: 95vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
}
