.App {
  display: grid;
  background-image: linear-gradient(to right, #000428 , #004e92);
  place-items: center;
  height: 100vh;
}

.main_box {
  display: flex;
  background-color: antiquewhite;
  margin-top: -20px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.5);
}
