.Chat{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.Chat_header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.Chat_headerInfo{
    flex: 1;
    padding-left: 20px;
}

.Chat_headerInfo>h3{
    margin-bottom: 3px;
    font-weight: 500;
}

.Chat_headerInfo>p{
    color: gray;
}

.Chat_headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.Chat_body{
    flex: 1;
    background-color: darkgrey;
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;

}

.Chat_message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: azure;
    margin-bottom: 30px;
}

.Chat_name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.Chat_timestamp{
    margin-left: 10px;
    font-size: xx-small;
}

.Chat_reciever{
    margin-left: auto;
    background-color: green;
}